.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: yellowgreen;
}

.parrafo {
    font-family: 'Courier New', Courier, monospace;
    /* color: rgba(87, 253, 22, 0.287); */
}